.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin
  -#el metodo grid esta emplementado por la gema flexboxgrid
  =grid xs:10,sm:8,md:6,lg:4 do
    .big-padding.blue.text-left.white-text
      %h1 Social Network